# Name                    Version                   Build  Channel
alembic                   1.11.2                   pypi_0    pypi
annotated-types           0.6.0                    pypi_0    pypi
asttokens                 2.2.1                    pypi_0    pypi
attrs                     23.1.0                   pypi_0    pypi
backcall                  0.2.0                    pypi_0    pypi
backports                 1.0                pyhd8ed1ab_3    conda-forge
backports.functools_lru_cache 1.6.5              pyhd8ed1ab_0    conda-forge
beautifulsoup4            4.12.2                   pypi_0    pypi
blinker                   1.6.2                    pypi_0    pypi
blis                      0.7.11                   pypi_0    pypi
bzip2                     1.0.8                he774522_0
ca-certificates           2023.08.22           haa95532_0
catalogue                 2.0.10                   pypi_0    pypi
certifi                   2023.7.22                pypi_0    pypi
cffi                      1.15.1                   pypi_0    pypi
charset-normalizer        3.2.0                    pypi_0    pypi
click                     8.1.7                    pypi_0    pypi
cloudpathlib              0.16.0                   pypi_0    pypi
colorama                  0.4.6              pyhd8ed1ab_0    conda-forge
comm                      0.1.4              pyhd8ed1ab_0    conda-forge
confection                0.1.3                    pypi_0    pypi
contourpy                 1.1.0                    pypi_0    pypi
cycler                    0.11.0                   pypi_0    pypi
cymem                     2.0.8                    pypi_0    pypi
debugpy                   1.6.7           py310hd77b12b_0
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
en-core-web-sm            3.7.0                    pypi_0    pypi
et-xmlfile                1.1.0                    pypi_0    pypi
exceptiongroup            1.1.3              pyhd8ed1ab_0    conda-forge
executing                 1.2.0                    pypi_0    pypi
facenet-pytorch           2.5.3                    pypi_0    pypi
filelock                  3.12.2                   pypi_0    pypi
flask                     2.3.2                    pypi_0    pypi
flask-migrate             4.0.4                    pypi_0    pypi
flask-sqlalchemy          3.0.5                    pypi_0    pypi
fonttools                 4.42.1                   pypi_0    pypi
fsspec                    2023.10.0                pypi_0    pypi
google-api-core           2.11.1                   pypi_0    pypi
google-api-python-client  2.97.0                   pypi_0    pypi
google-auth-httplib2      0.1.0                    pypi_0    pypi
googleapis-common-protos  1.60.0                   pypi_0    pypi
greenlet                  2.0.2                    pypi_0    pypi
h11                       0.14.0                   pypi_0    pypi
h5py                      2.10.0                   pypi_0    pypi
httplib2                  0.22.0                   pypi_0    pypi
huggingface-hub           0.19.4                   pypi_0    pypi
idna                      3.4                      pypi_0    pypi
importlib-metadata        6.8.0              pyha770c72_0    conda-forge
importlib-resources       5.12.0                   pypi_0    pypi
importlib_metadata        6.8.0                hd8ed1ab_0    conda-forge
ipykernel                 6.26.0             pyha63f2e9_0    conda-forge
ipython                   8.14.0                   pypi_0    pypi
itsdangerous              2.1.2                    pypi_0    pypi
jedi                      0.19.0                   pypi_0    pypi
jinja2                    3.1.2                    pypi_0    pypi
joblib                    1.3.1                    pypi_0    pypi
jupyter_client            8.6.0              pyhd8ed1ab_0    conda-forge
jupyter_core              5.5.0           py310h5588dad_0    conda-forge
keras                     2.1.6                    pypi_0    pypi
kiwisolver                1.4.4                    pypi_0    pypi
langcodes                 3.3.0                    pypi_0    pypi
libffi                    3.4.4                hd77b12b_0
libsodium                 1.0.18               h8d14728_1    conda-forge
lxml                      4.9.3                    pypi_0    pypi
mako                      1.2.4                    pypi_0    pypi
markupsafe                2.1.3                    pypi_0    pypi
matplotlib                3.7.2                    pypi_0    pypi
matplotlib-inline         0.1.6              pyhd8ed1ab_0    conda-forge
mpmath                    1.3.0                    pypi_0    pypi
mtcnn                     0.1.1                    pypi_0    pypi
murmurhash                1.0.10                   pypi_0    pypi
nest-asyncio              1.5.8              pyhd8ed1ab_0    conda-forge
networkx                  3.1                      pypi_0    pypi
numpy                     1.25.2                   pypi_0    pypi
opencv-python             4.8.0.76                 pypi_0    pypi
openpyxl                  3.1.2                    pypi_0    pypi
openssl                   3.0.12               h2bbff1b_0
outcome                   1.2.0                    pypi_0    pypi
packaging                 23.1                     pypi_0    pypi
pandas                    2.0.3                    pypi_0    pypi
parso                     0.8.3              pyhd8ed1ab_0    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    10.0.0                   pypi_0    pypi
pip                       23.2.1          py310haa95532_0
platformdirs              3.11.0             pyhd8ed1ab_0    conda-forge
preshed                   3.0.9                    pypi_0    pypi
prompt-toolkit            3.0.39                   pypi_0    pypi
prompt_toolkit            3.0.40               hd8ed1ab_0    conda-forge
psutil                    5.9.0           py310h2bbff1b_0
pure_eval                 0.2.2              pyhd8ed1ab_0    conda-forge
pyasn1                    0.5.0                    pypi_0    pypi
pyasn1-modules            0.3.0                    pypi_0    pypi
pycparser                 2.21                     pypi_0    pypi
pydantic                  2.4.2                    pypi_0    pypi
pydantic-core             2.10.1                   pypi_0    pypi
pygments                  2.16.1             pyhd8ed1ab_0    conda-forge
pyparsing                 3.0.9                    pypi_0    pypi
pysocks                   1.7.1                    pypi_0    pypi
python                    3.10.12              he1021f5_0
python-dateutil           2.8.2              pyhd8ed1ab_0    conda-forge
python-docx               1.0.1                    pypi_0    pypi
python_abi                3.10                    2_cp310    conda-forge
pytz                      2023.3                   pypi_0    pypi
pywin32                   305             py310h2bbff1b_0
pyyaml                    6.0.1                    pypi_0    pypi
pyzmq                     23.2.1          py310h73ada01_0    conda-forge
regex                     2023.10.3                pypi_0    pypi
requests                  2.31.0                   pypi_0    pypi
safetensors               0.4.0                    pypi_0    pypi
scikit-learn              1.0.2                    pypi_0    pypi
selenium                  4.11.2                   pypi_0    pypi
setuptools                68.0.0          py310haa95532_0
six                       1.16.0             pyh6c4a22f_0    conda-forge
smart-open                6.4.0                    pypi_0    pypi
sniffio                   1.3.0                    pypi_0    pypi
sortedcontainers          2.4.0                    pypi_0    pypi
soupsieve                 2.4.1                    pypi_0    pypi
spacy                     3.7.2                    pypi_0    pypi
spacy-legacy              3.0.12                   pypi_0    pypi
spacy-loggers             1.0.5                    pypi_0    pypi
sqlalchemy                2.0.20                   pypi_0    pypi
sqlite                    3.41.2               h2bbff1b_0
srsly                     2.4.8                    pypi_0    pypi
stack_data                0.6.2              pyhd8ed1ab_0    conda-forge
sympy                     1.12                     pypi_0    pypi
tensorflow-hub            0.15.0                   pypi_0    pypi
thinc                     8.2.1                    pypi_0    pypi
threadpoolctl             3.1.0                    pypi_0    pypi
tk                        8.6.12               h2bbff1b_0
tokenizers                0.15.0                   pypi_0    pypi
torch                     2.0.1                    pypi_0    pypi
torchvision               0.15.2                   pypi_0    pypi
tornado                   6.2             py310he2412df_0    conda-forge
tqdm                      4.66.1                   pypi_0    pypi
traitlets                 5.9.0                    pypi_0    pypi
transformers              4.35.2                   pypi_0    pypi
trio                      0.22.2                   pypi_0    pypi
trio-websocket            0.10.3                   pypi_0    pypi
typer                     0.9.0                    pypi_0    pypi
typing-extensions         4.7.1                    pypi_0    pypi
typing_extensions         4.8.0              pyha770c72_0    conda-forge
tzdata                    2023.3                   pypi_0    pypi
uritemplate               4.1.1                    pypi_0    pypi
urllib3                   1.26.16                  pypi_0    pypi
vc                        14.2                 h21ff451_1
vs2015_runtime            14.27.29016          h5e58377_2
waitress                  2.1.2                    pypi_0    pypi
wasabi                    1.1.2                    pypi_0    pypi
wcwidth                   0.2.6                    pypi_0    pypi
weasel                    0.3.4                    pypi_0    pypi
werkzeug                  2.3.7                    pypi_0    pypi
wheel                     0.38.4          py310haa95532_0
wrapt                     1.14.1          py310h2bbff1b_0
wsproto                   1.2.0                    pypi_0    pypi
xz                        5.4.2                h8cc25b3_0
zeromq                    4.3.4                h0e60522_1    conda-forge
zipp                      3.17.0             pyhd8ed1ab_0    conda-forge
zlib                      1.2.13               h8cc25b3_0
