.heartContainer {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heart {
    width: 700px;
    height: 700px;
    position: relative;
}
.percentageText {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 1000;
    color: rgb(104, 2, 122);
}