.home {
    background: linear-gradient(to right, pink, skyblue);

}

.container {
    height: 87.9vh;
    text-align: center;
    position: relative;
}

.profile {
    display: flex;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%); 
}

.search1 {
    margin-right: 25vw;
}

.search2 {
    margin-left: 25vw;
}

@media (max-width: 970px){
    .search1 {
        margin-right: 15vw;
    }
    
    .search2 {
        margin-left: 15vw;
    }
}

.mainBtn  {
    position: absolute;
    top: 65vh;
    transform: translate(-50%, -50%); 
    width: 400px;
    height: 80px;
    font-size: 40px;
    font-family: 'Cafe24Ssurround';
    font-weight: 600;
    color: rgb(73, 73, 73);
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 80px;
    border: solid 3px gray;
    border-radius: 50px;
    cursor: pointer;
}