.container {
    background: linear-gradient(white, pink);
    height: 87.9vh;
    text-align: center;
    position: relative;
}

.profile {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%); 
}

.search1 {
    margin-right: 25vw;
}

.search2 {
    margin-left: 25vw;
}

@media (max-width: 830px){
    .search1 {
        margin-right: 15vw;
    }
    
    .search2 {
        margin-left: 15vw;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
.mainBtn  {
    position: absolute;
    top: 65vh;
    transform: translate(-50%, -50%); 
    width: 400px;
    height: 80px;
    font-size: 40px;
    font-family: 'Bagel Fat One';
    color: gray;
    background-color: white;
    line-height: 70px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}